# **Kaggle**

### Sentiment Analysis Dataset

In [80]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("abhi8923shriv/sentiment-analysis-dataset")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.12), please consider upgrading to the latest version (0.3.13).
Path to dataset files: C:\Users\Maddox\.cache\kagglehub\datasets\abhi8923shriv\sentiment-analysis-dataset\versions\9

In [81]:
import os
files = os.listdir(path)
files

['test.csv',
 'testdata.manual.2009.06.14.csv',
 'train.csv',
 'training.1600000.processed.noemoticon.csv']

In [82]:
path1=path+'/'+files[0]
path2=path+'/'+files[1]
path3=path+'/'+files[2]
path4=path+'/'+files[3]
display(path1)

'C:\\Users\\Maddox\\.cache\\kagglehub\\datasets\\abhi8923shriv\\sentiment-analysis-dataset\\versions\\9/test.csv'

In [83]:
import pandas as pd
df1 = pd.read_csv(path2, encoding='utf-8')

In [84]:
display(df1.sample(5))
display(df1.shape)
display(df1.columns)
display(df1.info())

,4,3,Mon May 11 03:17:40 UTC 2009,kindle2,tpryan,"@stellargirl I loooooooovvvvvveee my Kindle2. Not that the DX is cool, but the 2 is fantastic in its own right."
138,0,403,Tue Jun 02 03:02:17 UTC 2009,gm,misschris62,Tell me again why we are giving more $$ to GM?...
23,4,33,Mon May 11 19:47:29 UTC 2009,visa,DreambigRadio,"good news, just had a call from the Visa offic..."
426,2,2422,Tue Jun 02 06:53:15 UTC 2009,eating,face_of_boe,"Lounging around, eating Taco Bell and watching..."
340,4,2193,Mon May 25 17:31:52 UTC 2009,exam,xKimmelie,my exam went good. @HelloLeonie: your prayers ...
176,2,441,Tue Jun 02 04:41:03 UTC 2009,safeway,evan,Did not realize there is a gym above Safeway!

(515, 6)

Index(['4', '3', 'Mon May 11 03:17:40 UTC 2009', 'kindle2', 'tpryan',
       '@stellargirl I loooooooovvvvvveee my Kindle2. Not that the DX is cool, but the 2 is fantastic in its own right.'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 6 columns):
 #   Column                                                                                                           Non-Null Count  Dtype
---  ------                                                                                                           --------------  -----
 0   4                                                                                                                515 non-null    int64
 1   3                                                                                                                515 non-null    int64
 2   Mon May 11 03:17:40 UTC 2009                                                                                     515 non-null    object
 3   kindle2                                                                                                          515 non-null    object
 4   tpryan                                                                                                           515 non-null    object
 5   @stellargirl I loooooooovvvvvveee my Kindle2. Not that the DX is cool, but the 2 is fantastic in its own right.  515 non-null    object
dtypes: int64(2), object(4)
memory usage: 24.3+ KB

None

In [85]:
df2 = pd.read_csv(path1, encoding="iso-8859-1")
display(df2.sample(2))
display(df2.shape)
display(df2.info())

,textID,text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km¬≤),Density (P/Km¬≤)
2195,0e4bcb3a52,Happy Mother`s day VALK!!,positive,night,31-45,Antigua and Barbuda,97929.0,440.0,223.0
378,33bb4fcc72,Why thank you... Us Mami`s are bringin` sexy ...,positive,morning,0-20,Ukraine,43733762.0,579320.0,75.0

(4815, 9)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4815 entries, 0 to 4814
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   textID            3534 non-null   object
 1   text              3534 non-null   object
 2   sentiment         3534 non-null   object
 3   Time of Tweet     3534 non-null   object
 4   Age of User       3534 non-null   object
 5   Country           3534 non-null   object
 6   Population -2020  3534 non-null   float64
 7   Land Area (Km¬≤)   3534 non-null   float64
 8   Density (P/Km¬≤)   3534 non-null   float64
dtypes: float64(3), object(6)
memory usage: 338.7+ KB

None

In [86]:
df3 = pd.read_csv(path3, encoding="iso-8859-1")
display(df3.sample(5))
display(df3.shape)
display(df3.columns)
display(df3.info())

,textID,text,selected_text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km¬≤),Density (P/Km¬≤)
6095,dbe1ee4b3a,once i hit christian in the head with a metal ...,once i hit christian in the head with a metal ...,negative,night,70-100,Pakistan,220892340,770880.0,287
15607,016f701c50,Tomorrow is Mother`s Day! What did you get for...,Tomorrow is Mother`s Day! What did you get for...,positive,noon,21-30,Estonia,1326535,42390.0,31
26319,57a04920cb,Hey! It`s so funny - I stopped to get a coffe...,funny,positive,morning,46-60,Austria,9006398,82400.0,109
7171,b4f2077ad6,Want to get a Blackberry but can`t afford it ...,Want to get a Blackberry but can`t afford it ...,negative,noon,21-30,Malta,441543,320.0,1380
22509,fac362e16d,so cool! if only i could call! my phone won`t...,cool!,positive,morning,46-60,Kazakhstan,18776707,2699700.0,7

(27481, 10)

Index(['textID', 'text', 'selected_text', 'sentiment', 'Time of Tweet',
       'Age of User', 'Country', 'Population -2020', 'Land Area (Km¬≤)',
       'Density (P/Km¬≤)'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27481 entries, 0 to 27480
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   textID            27481 non-null  object
 1   text              27480 non-null  object
 2   selected_text     27480 non-null  object
 3   sentiment         27481 non-null  object
 4   Time of Tweet     27481 non-null  object
 5   Age of User       27481 non-null  object
 6   Country           27481 non-null  object
 7   Population -2020  27481 non-null  int64
 8   Land Area (Km¬≤)   27481 non-null  float64
 9   Density (P/Km¬≤)   27481 non-null  int64
dtypes: float64(1), int64(2), object(7)
memory usage: 2.1+ MB

None

In [87]:
df4 = pd.read_csv(path4, encoding="iso-8859-1")
display(df4.sample(5))
display(df4.shape)
display(df4.columns)
display(df4.info())

,polarity of tweet,id of the tweet,date of the tweet,query,user,text of the tweet
1028947,4,1932699902,Tue May 26 22:01:21 PDT 2009,NO_QUERY,sarahstutsman,So glad you decided to tweet @callivines
223390,0,1977197058,Sat May 30 20:21:11 PDT 2009,NO_QUERY,CollyDolly1,@EIKNARF awwwww sooo sad sounding!! come out ...
63642,0,1687629002,Sun May 03 09:11:31 PDT 2009,NO_QUERY,paintedfaces_x,@oohnoo Its down again
930444,4,1760344674,Sun May 10 21:17:02 PDT 2009,NO_QUERY,abbeygaill55,@chucktaylor244 yayyy! my bracelet is complete...
57519,0,1685684035,Sun May 03 01:33:04 PDT 2009,NO_QUERY,xMyLifesAStoryx,The thunder woke me up and my power just wen...

(1048572, 6)

Index(['polarity of tweet¬†', 'id of the tweet', 'date of the tweet', 'query',
       'user', 'text of the tweet¬†'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048572 entries, 0 to 1048571
Data columns (total 6 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   polarity of tweet¬†  1048572 non-null  int64
 1   id of the tweet     1048572 non-null  int64
 2   date of the tweet   1048572 non-null  object
 3   query               1048572 non-null  object
 4   user                1048572 non-null  object
 5   text of the tweet¬†  1048572 non-null  object
dtypes: int64(2), object(4)
memory usage: 48.0+ MB

None

### Social Media Sentiments Analysis Datas

In [88]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("kashishparmar02/social-media-sentiments-analysis-dataset")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.12), please consider upgrading to the latest version (0.3.13).
Path to dataset files: C:\Users\Maddox\.cache\kagglehub\datasets\kashishparmar02\social-media-sentiments-analysis-dataset\versions\3

In [89]:
files = os.listdir(path)
files

['sentimentdataset.csv']

In [90]:
path5=path+'/'+files[0]
path5

'C:\\Users\\Maddox\\.cache\\kagglehub\\datasets\\kashishparmar02\\social-media-sentiments-analysis-dataset\\versions\\3/sentimentdataset.csv'

In [91]:
df_SM=pd.read_csv(path5)
df_SM.shape

(732, 15)

In [92]:
df_SM.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732 entries, 0 to 731
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  732 non-null    int64
 1   Unnamed: 0    732 non-null    int64
 2   Text          732 non-null    object
 3   Sentiment     732 non-null    object
 4   Timestamp     732 non-null    object
 5   User          732 non-null    object
 6   Platform      732 non-null    object
 7   Hashtags      732 non-null    object
 8   Retweets      732 non-null    float64
 9   Likes         732 non-null    float64
 10  Country       732 non-null    object
 11  Year          732 non-null    int64
 12  Month         732 non-null    int64
 13  Day           732 non-null    int64
 14  Hour          732 non-null    int64
dtypes: float64(2), int64(6), object(7)
memory usage: 85.9+ KB

In [93]:
df_SM.sample(2)

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
91,92,94,Overflowing adoration for a cute rescue puppy...,Adoration,2023-02-26 10:45:00,PuppyAdmirer,Twitter,#Adoration #PuppyLove,22.0,45.0,UK,2023,2,26,10
601,602,606,Started a blog about random thoughts and musin...,Curiosity,2023-06-10 17:30:00,ThoughtfulBlogger,Twitter,#BloggingJourney #TeenThoughts,30.0,60.0,Canada,2023,6,10,17

In [94]:
df_SM['Sentiment'].value_counts()

Sentiment
Positive               44
Joy                    42
Excitement             32
Happy                  14
Neutral                14
                       ..
Vibrancy                1
Culinary Adventure      1
Mesmerizing             1
Thrilling Journey       1
Winter Magic            1
Name: count, Length: 279, dtype: int64

# **Data.World**

### Brands and Product Emotions

In [95]:
import pandas as pd
df = pd.read_csv('https://query.data.world/s/k64uuin6zje2i6f4rjyy6uivhxht7f?dws=00000', encoding='latin1')

In [96]:
df.sample(5)

,tweet_text,emotion_in_tweet_is_directed_at,is_there_an_emotion_directed_at_a_brand_or_product
8221,Won a gift certificate to Apple at the Nonprof...,Apple,Positive emotion
3819,@mention iPad app getting panned for design tr...,iPad or iPhone App,Negative emotion
4696,This technology couldn't happen on an iPhone' ...,iPhone,Negative emotion
4774,&quot;@mention Google to Launch Major New Soci...,NaN,No emotion toward brand or product
7365,The good people at @mention are covering the i...,NaN,No emotion toward brand or product

In [97]:
df.columns

Index(['tweet_text', 'emotion_in_tweet_is_directed_at',
       'is_there_an_emotion_directed_at_a_brand_or_product'],
      dtype='object')

In [98]:
df['is_there_an_emotion_directed_at_a_brand_or_product'].unique()

array(['Negative emotion', 'Positive emotion',
       'No emotion toward brand or product', "I can't tell"], dtype=object)

In [99]:
df.shape

(9093, 3)

### Hotel Reviews ID: datafiniti/hotel-reviews

In [100]:
df_last = pd.read_csv('https://query.data.world/s/luduvvjmvb2wmk6joeqaabzpohaesg?dws=00000',encoding='latin1' )

In [101]:
df_last.shape

(10000, 25)

In [102]:
df_last.sample(2)

,√Ø¬ª¬øid,dateAdded,dateUpdated,address,categories,primaryCategories,city,country,keys,latitude,...,reviews.dateSeen,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username,sourceURLs,websites
8217,AVwcxZSWkufWRAb5y2wv,2015-05-23T04:30:12Z,2018-01-28T08:50:12Z,2 S 4th St,"Hotels,Lodging,Motels,Hotel,Bed Breakfast,Mote...",Accommodation & Food Services,Saint Louis,US,us/mo/saintlouis/2s4thst/-1425185106,38.62469,...,"2016-09-11T00:00:00Z,2016-08-09T00:00:00Z,2016...",4.0,https://www.hotels.com/hotel/169257/reviews%20/,The ladies at the front desk were friendly and...,Enjoyable stay!,NaN,NaN,Lora,https://www.yellowpages.com/saint-louis-mo/mip...,"http://druryhotels.com,http://www.druryhotels.com"
7393,AVwemRsOIN2L1WUf6cCe,2017-04-19T21:26:04Z,2018-01-30T06:02:40Z,103 Wingate Ter,"Corporate Lodging,Hotels,Lodging,Hotel",Accommodation & Food Services,LaGrange,US,us/ga/lagrange/103wingateter/-1135939915,33.04225,...,2015-10-19T00:00:00Z,2.0,http://www.tripadvisor.com/Hotel_Review-g35051...,I was very disappointed in the Wingate by Wynd...,Poor Night's Sleep...,NaN,NaN,patriciamaryb2015,https://www.yellowpages.com/lagrange-ga/mip/wi...,https://www.wyndhamhotels.com/wingate/lagrange...