# **Kaggle**

### Sentiment Analysis Dataset

In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("abhi8923shriv/sentiment-analysis-dataset")

print("Path to dataset files:", path)

d:\Data Science\myenv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.12), please consider upgrading to the latest version (0.3.13).
Path to dataset files: C:\Users\Maddox\.cache\kagglehub\datasets\abhi8923shriv\sentiment-analysis-dataset\versions\9

In [2]:
import os
files = os.listdir(path)
files

['test.csv',
 'testdata.manual.2009.06.14.csv',
 'train.csv',
 'training.1600000.processed.noemoticon.csv']

In [3]:
path1=path+'/'+files[0]
path2=path+'/'+files[1]
path3=path+'/'+files[2]
path4=path+'/'+files[3]
display(path1)

'C:\\Users\\Maddox\\.cache\\kagglehub\\datasets\\abhi8923shriv\\sentiment-analysis-dataset\\versions\\9/test.csv'

In [4]:
import pandas as pd
df1 = pd.read_csv(path1, encoding="iso-8859-1")

In [5]:
display(df1.sample(5))
display(df1.shape)
display(df1.columns)
display(df1.info())

,textID,text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
1019,aa51082711,yay asap lol awwh I miss our friday night hap...,negative,night,70-100,Czechia (Czech Republic),10708981.0,77240.0,139.0
1415,5d8102cab8,He put a **** mohawk in my son head.....he jus...,negative,night,70-100,Guyana,786552.0,196850.0,4.0
4362,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1037,43d10bd312,I also have a certain CD from camp that a cert...,positive,night,70-100,Gambia,2416668.0,10120.0,239.0
3080,fe51ca37d4,guess I missed out on more than beer and a go...,negative,night,70-100,Pakistan,220892340.0,770880.0,287.0

(4815, 9)

Index(['textID', 'text', 'sentiment', 'Time of Tweet', 'Age of User',
       'Country', 'Population -2020', 'Land Area (Km²)', 'Density (P/Km²)'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4815 entries, 0 to 4814
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   textID            3534 non-null   object
 1   text              3534 non-null   object
 2   sentiment         3534 non-null   object
 3   Time of Tweet     3534 non-null   object
 4   Age of User       3534 non-null   object
 5   Country           3534 non-null   object
 6   Population -2020  3534 non-null   float64
 7   Land Area (Km²)   3534 non-null   float64
 8   Density (P/Km²)   3534 non-null   float64
dtypes: float64(3), object(6)
memory usage: 338.7+ KB

None

In [6]:
df2 = pd.read_csv(path2, encoding='utf-8')
display(df2.sample(2))
display(df2.shape)
display(df2.info())

,4,3,Mon May 11 03:17:40 UTC 2009,kindle2,tpryan,"@stellargirl I loooooooovvvvvveee my Kindle2. Not that the DX is cool, but the 2 is fantastic in its own right."
511,4,14084,Mon May 11 05:22:12 UTC 2009,nashta,peterlikewhat,lebron and zydrunas are such an awesome duo
182,2,447,Tue Jun 02 04:42:28 UTC 2009,safeway,mobileadgirl,Safeway Super-marketing via mobile coupons htt...

(515, 6)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 6 columns):
 #   Column                                                                                                           Non-Null Count  Dtype
---  ------                                                                                                           --------------  -----
 0   4                                                                                                                515 non-null    int64
 1   3                                                                                                                515 non-null    int64
 2   Mon May 11 03:17:40 UTC 2009                                                                                     515 non-null    object
 3   kindle2                                                                                                          515 non-null    object
 4   tpryan                                                                                                           515 non-null    object
 5   @stellargirl I loooooooovvvvvveee my Kindle2. Not that the DX is cool, but the 2 is fantastic in its own right.  515 non-null    object
dtypes: int64(2), object(4)
memory usage: 24.3+ KB

None

In [7]:
df3 = pd.read_csv(path3, encoding="iso-8859-1")
display(df3.sample(5))
display(df3.shape)
display(df3.columns)
display(df3.info())

,textID,text,selected_text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
7437,aca672028f,hates the everything about seafood.. just so ...,hates the everything about seafood.. just so ...,negative,morning,46-60,Trinidad and Tobago,1399488,5130.0,273
1854,5545300604,ahh retweet everything i say!,ahh retweet everything i say!,neutral,morning,0-20,Sweden,10099265,410340.0,25
8691,c4fb99d6a0,"'somebody calls you, and you answer quite slow...","'somebody calls you, and you answer quite slow...",neutral,morning,46-60,Papua New Guinea,8947024,452860.0,20
5553,029bfe45a8,i missed the game,i missed the game,negative,morning,46-60,Timor-Leste,1318445,14870.0,89
1565,ff1c1382f9,Where you at? No tweeting today? No gardeni...,Where you at? No tweeting today? No gardenin...,neutral,night,70-100,Honduras,9904607,111890.0,89

(27481, 10)

Index(['textID', 'text', 'selected_text', 'sentiment', 'Time of Tweet',
       'Age of User', 'Country', 'Population -2020', 'Land Area (Km²)',
       'Density (P/Km²)'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27481 entries, 0 to 27480
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   textID            27481 non-null  object
 1   text              27480 non-null  object
 2   selected_text     27480 non-null  object
 3   sentiment         27481 non-null  object
 4   Time of Tweet     27481 non-null  object
 5   Age of User       27481 non-null  object
 6   Country           27481 non-null  object
 7   Population -2020  27481 non-null  int64
 8   Land Area (Km²)   27481 non-null  float64
 9   Density (P/Km²)   27481 non-null  int64
dtypes: float64(1), int64(2), object(7)
memory usage: 2.1+ MB

None

In [8]:
df4 = pd.read_csv(path4, encoding="iso-8859-1")
display(df4.sample(5))
display(df4.shape)
display(df4.columns)
display(df4.info())

,polarity of tweet,id of the tweet,date of the tweet,query,user,text of the tweet
298520,0,1997703361,Mon Jun 01 17:18:43 PDT 2009,NO_QUERY,DaddyHC,@AshleyEbneth I know -_-; I though I made a fu...
1034676,4,1956039077,Thu May 28 21:04:22 PDT 2009,NO_QUERY,redchinese19,"Ya can talk, ya can talk, ya can bicker ya can..."
840481,4,1559771696,Sun Apr 19 12:00:33 PDT 2009,NO_QUERY,erincrous,@acidic_ice - had a very awesome meeting today...
570871,0,2208579044,Wed Jun 17 09:22:23 PDT 2009,NO_QUERY,ecurls,already on the last vacation day
906082,4,1695281457,Mon May 04 05:43:57 PDT 2009,NO_QUERY,ashleno,Castiel is loveeeeeeeeeeeeeeeeeeeeee

(1048572, 6)

Index(['polarity of tweet ', 'id of the tweet', 'date of the tweet', 'query',
       'user', 'text of the tweet '],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048572 entries, 0 to 1048571
Data columns (total 6 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   polarity of tweet   1048572 non-null  int64
 1   id of the tweet     1048572 non-null  int64
 2   date of the tweet   1048572 non-null  object
 3   query               1048572 non-null  object
 4   user                1048572 non-null  object
 5   text of the tweet   1048572 non-null  object
dtypes: int64(2), object(4)
memory usage: 48.0+ MB

None

### Social Media Sentiments Analysis Datas

In [9]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("kashishparmar02/social-media-sentiments-analysis-dataset")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.12), please consider upgrading to the latest version (0.3.13).
Path to dataset files: C:\Users\Maddox\.cache\kagglehub\datasets\kashishparmar02\social-media-sentiments-analysis-dataset\versions\3

In [10]:
files = os.listdir(path)
files

['sentimentdataset.csv']

In [11]:
path5=path+'/'+files[0]
path5

'C:\\Users\\Maddox\\.cache\\kagglehub\\datasets\\kashishparmar02\\social-media-sentiments-analysis-dataset\\versions\\3/sentimentdataset.csv'

In [12]:
df_SM=pd.read_csv(path5)
df_SM.shape

(732, 15)

In [13]:
df_SM.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732 entries, 0 to 731
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  732 non-null    int64
 1   Unnamed: 0    732 non-null    int64
 2   Text          732 non-null    object
 3   Sentiment     732 non-null    object
 4   Timestamp     732 non-null    object
 5   User          732 non-null    object
 6   Platform      732 non-null    object
 7   Hashtags      732 non-null    object
 8   Retweets      732 non-null    float64
 9   Likes         732 non-null    float64
 10  Country       732 non-null    object
 11  Year          732 non-null    int64
 12  Month         732 non-null    int64
 13  Day           732 non-null    int64
 14  Hour          732 non-null    int64
dtypes: float64(2), int64(6), object(7)
memory usage: 85.9+ KB

In [14]:
df_SM.sample(2)

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
705,706,710,Organizing a community cleanup event for a cle...,Neutral,2023-10-03 12:30:00,CommunityCleanupHighSchool,Twitter,#EnvironmentalEfforts #HighSchoolCommunity,26.0,50.0,Canada,2023,10,3,12
228,229,233,An impenetrable numbness shields me from the ...,Numbness,2019-10-18 14:30:00,ResilientFortress,Twitter,#Numbness #StoicResilience,11.0,22.0,UK,2019,10,18,14

In [15]:
df_SM['Sentiment'].value_counts()

Sentiment
Positive               44
Joy                    42
Excitement             32
Happy                  14
Neutral                14
                       ..
Vibrancy                1
Culinary Adventure      1
Mesmerizing             1
Thrilling Journey       1
Winter Magic            1
Name: count, Length: 279, dtype: int64

# **Data.World**

### Brands and Product Emotions

In [16]:
import pandas as pd
df = pd.read_csv('https://query.data.world/s/k64uuin6zje2i6f4rjyy6uivhxht7f?dws=00000', encoding='latin1')

In [17]:
df.sample(5)

,tweet_text,emotion_in_tweet_is_directed_at,is_there_an_emotion_directed_at_a_brand_or_product
2992,An engineer from Google Chrome just came up to...,Google,Positive emotion
9070,You know you've made it to #sxsw when you see ...,iPad,Positive emotion
1212,"Not going to #SXSW ? Doesnt matter, its not th...",NaN,No emotion toward brand or product
5173,RT @mention &quot;credit card companies know w...,NaN,No emotion toward brand or product
1109,ÛÏ@mention Stop by and let us make you a cust...,NaN,No emotion toward brand or product

In [18]:
df.columns

Index(['tweet_text', 'emotion_in_tweet_is_directed_at',
       'is_there_an_emotion_directed_at_a_brand_or_product'],
      dtype='object')

In [19]:
df['is_there_an_emotion_directed_at_a_brand_or_product'].unique()

array(['Negative emotion', 'Positive emotion',
       'No emotion toward brand or product', "I can't tell"], dtype=object)

In [20]:
df.shape

(9093, 3)

### Hotel Reviews ID: datafiniti/hotel-reviews

In [21]:
df_last = pd.read_csv('https://query.data.world/s/luduvvjmvb2wmk6joeqaabzpohaesg?dws=00000',encoding='latin1' )

In [22]:
df_last.shape

(10000, 25)

In [23]:
df_last.sample(2)

,ï»¿id,dateAdded,dateUpdated,address,categories,primaryCategories,city,country,keys,latitude,...,reviews.dateSeen,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username,sourceURLs,websites
7307,AVwchf6wIN2L1WUfl4Ez,2015-07-09T09:59:13Z,2018-01-30T06:28:30Z,401 Lenora St,"Hotel,Resort,Hotels Motels,Business Hotels",Accommodation & Food Services,Seattle,US,us/wa/seattle/401lenorast/-943527794,47.613903,...,2015-07-08T00:00:00Z,5.0,http://www.tripadvisor.com/Hotel_Review-g60878...,Stayed two nights with two girlfriends in a ro...,"Girlfriends getaway...great locale, very comfo...",NaN,NaN,KAS001,https://foursquare.com/v/warwick-seattle-hotel...,http://www.warwickmelrosedallas.com
3279,AWIYGr06IxWefVJwzU-7,2018-03-12T01:20:57Z,2018-05-28T16:18:29Z,1516 Aero Dr,"Hotels,Hotel",Accommodation & Food Services,Linthicum Heights,US,us/md/linthicumheights/1516aerodr/7992643,39.210072,...,2018-03-09T00:00:00Z,2.0,http://www.expedia.com/Hotels.h794942-p109.Hot...,Check in was quick. Room was clean. About 11pm...,Bring your own towels and some bug spray,NaN,NaN,A verified traveler,http://www.expedia.com/Hotels.h794942-p103.Hot...,http://hiltongardeninn3.hilton.com/en/hotels/m...