## **Sentiment Analysis**

## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder, LabelEncoder
from sklearn.metrics import accuracy_score, precision_score, confusion_matrix
import kagglehub
import warnings
warnings.filterwarnings('ignore')

d:\Data Science\myenv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## Importing Data

In [2]:
path = kagglehub.dataset_download("abhi8923shriv/sentiment-analysis-dataset")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.12), please consider upgrading to the latest version (0.3.13).
Path to dataset files: C:\Users\Maddox\.cache\kagglehub\datasets\abhi8923shriv\sentiment-analysis-dataset\versions\9

In [3]:
import os
files = os.listdir(path)
files

['test.csv',
 'testdata.manual.2009.06.14.csv',
 'train.csv',
 'training.1600000.processed.noemoticon.csv']

In [4]:
path1=path+'/'+files[0]
path2=path+'/'+files[1]
path3=path+'/'+files[2]
path4=path+'/'+files[3]
display(path1)

'C:\\Users\\Maddox\\.cache\\kagglehub\\datasets\\abhi8923shriv\\sentiment-analysis-dataset\\versions\\9/test.csv'

In [5]:
import pandas as pd
df1 = pd.read_csv(path1, encoding="iso-8859-1")

In [6]:
display(df1.sample(5))
display(df1.shape)
display(df1.columns)
display(df1.info())

,textID,text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
4773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2221,4d21d7611c,He`s an amazing jockey! Saw that Clydesdale c...,positive,noon,60-70,Cameroon,26545863.0,472710.0,56.0
1168,aab1caabf0,im sorry i wish that i was there instead (it...,neutral,noon,60-70,Bhutan,771608.0,38100.0,20.0
167,0e8aa10a4e,that`s a very cute picture ... but you don`t ...,positive,night,70-100,Suriname,586632.0,156000.0,4.0

(4815, 9)

Index(['textID', 'text', 'sentiment', 'Time of Tweet', 'Age of User',
       'Country', 'Population -2020', 'Land Area (Km²)', 'Density (P/Km²)'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4815 entries, 0 to 4814
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   textID            3534 non-null   object
 1   text              3534 non-null   object
 2   sentiment         3534 non-null   object
 3   Time of Tweet     3534 non-null   object
 4   Age of User       3534 non-null   object
 5   Country           3534 non-null   object
 6   Population -2020  3534 non-null   float64
 7   Land Area (Km²)   3534 non-null   float64
 8   Density (P/Km²)   3534 non-null   float64
dtypes: float64(3), object(6)
memory usage: 338.7+ KB

None

In [7]:
df2 = pd.read_csv(path2, encoding='utf-8')
display(df2.sample(2))
display(df2.shape)
display(df2.info())

,4,3,Mon May 11 03:17:40 UTC 2009,kindle2,tpryan,"@stellargirl I loooooooovvvvvveee my Kindle2. Not that the DX is cool, but the 2 is fantastic in its own right."
414,2,2409,Tue Jun 02 04:29:28 UTC 2009,baseball,Oregon_Live,Portland city politics may undo baseball park ...
245,4,1011,Mon May 11 03:32:35 UTC 2009,obama,meggentile,Obama's speech was pretty awesome last night! ...

(515, 6)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 6 columns):
 #   Column                                                                                                           Non-Null Count  Dtype
---  ------                                                                                                           --------------  -----
 0   4                                                                                                                515 non-null    int64
 1   3                                                                                                                515 non-null    int64
 2   Mon May 11 03:17:40 UTC 2009                                                                                     515 non-null    object
 3   kindle2                                                                                                          515 non-null    object
 4   tpryan                                                                                                           515 non-null    object
 5   @stellargirl I loooooooovvvvvveee my Kindle2. Not that the DX is cool, but the 2 is fantastic in its own right.  515 non-null    object
dtypes: int64(2), object(4)
memory usage: 24.3+ KB

None

In [8]:
df3 = pd.read_csv(path3, encoding="iso-8859-1")
display(df3.sample(5))
display(df3.shape)
display(df3.columns)
display(df3.info())

,textID,text,selected_text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
20927,b2443b3da4,Just put all the original art for my comics in...,"nice,",positive,night,70-100,Vietnam,97338579,310070.0,314
2551,5fca2e236a,lmao! You baked non-stop? Sounds like yummy fun!,Sounds like yummy fun!,positive,noon,21-30,Japan,126476461,364555.0,347
23155,5a1c2ce495,"i think i`ll pass the worm! haha, but good mo...","i think i`ll pass the worm! haha, but good mor...",neutral,noon,21-30,Samoa,198414,2830.0,70
20853,c3d2323026,i`m on twitter! go me. i have no idea how to ...,i`m on twitter! go me. i have no idea how to w...,neutral,morning,46-60,Mozambique,31255435,786380.0,40
10259,4af640d32a,_de_B You have to email her - she only gets wh...,Shame ab,negative,night,70-100,Belize,397628,22810.0,17

(27481, 10)

Index(['textID', 'text', 'selected_text', 'sentiment', 'Time of Tweet',
       'Age of User', 'Country', 'Population -2020', 'Land Area (Km²)',
       'Density (P/Km²)'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27481 entries, 0 to 27480
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   textID            27481 non-null  object
 1   text              27480 non-null  object
 2   selected_text     27480 non-null  object
 3   sentiment         27481 non-null  object
 4   Time of Tweet     27481 non-null  object
 5   Age of User       27481 non-null  object
 6   Country           27481 non-null  object
 7   Population -2020  27481 non-null  int64
 8   Land Area (Km²)   27481 non-null  float64
 9   Density (P/Km²)   27481 non-null  int64
dtypes: float64(1), int64(2), object(7)
memory usage: 2.1+ MB

None

In [9]:
df4 = pd.read_csv(path4, encoding="iso-8859-1")
display(df4.sample(5))
display(df4.shape)
display(df4.columns)
display(df4.info())

,polarity of tweet,id of the tweet,date of the tweet,query,user,text of the tweet
32039,0,1564159612,Mon Apr 20 02:04:40 PDT 2009,NO_QUERY,nuttychris,@Sasha_xx yeah but was just making sure lolm a...
61703,0,1686820816,Sun May 03 06:53:14 PDT 2009,NO_QUERY,aristeia,@LizB18 I sent a message asking for the pswrd ...
733933,0,2264434243,Sun Jun 21 03:51:38 PDT 2009,NO_QUERY,MedJ911,@MMM definitely not!!! he (or i) would be disa...
874257,4,1679949586,Sat May 02 10:33:14 PDT 2009,NO_QUERY,peterdstraw,Making pizzas from scratch and just made chiil...
778868,0,2322793894,Wed Jun 24 23:17:09 PDT 2009,NO_QUERY,jravanos,sh#t !! i wanted to see shaq and thebron toget...

(1048572, 6)

Index(['polarity of tweet ', 'id of the tweet', 'date of the tweet', 'query',
       'user', 'text of the tweet '],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048572 entries, 0 to 1048571
Data columns (total 6 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   polarity of tweet   1048572 non-null  int64
 1   id of the tweet     1048572 non-null  int64
 2   date of the tweet   1048572 non-null  object
 3   query               1048572 non-null  object
 4   user                1048572 non-null  object
 5   text of the tweet   1048572 non-null  object
dtypes: int64(2), object(4)
memory usage: 48.0+ MB

None